<div style="text-align:center">
  <h1> CUSTOMER DETAILS</h1>
</div>
<div>
  <label>Enter ID</label>
  <input type="text" (focusout)=getId($event)/>
</div>
<div>
  <input type="text" (focusout)=getName($event)/>
</div>
<div>
  <input type="text" (focusout)=getLoc($event)/>
</div>
<div>
  <input type="text" (focusout)=getSal($event)/>
</div>
<button type="button" label="Add" (click)="addCustomer()">Add</button>
<button type="button" label="Add" (click)="editCustomer()">Edit</button>
<button type="button" label="Add" (click)="deleteCustomer()">Delete</button>
<button type="button" label="Add" (click)="exportDetails()">Export</button>
<button type="button" label="Add" (click)="importDetails()">Import</button>

<div>
<ag-grid-angular
    style="width: 800px; height: 155px; "
    class="ag-theme-blue"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    editable="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClick($event)"
    [rowSelection]="rowSelection"
   (rowSelected)="onRowSelected($event)"
   [rowMultiSelectWithClick]="true">
</ag-grid-angular>
</div><router-outlet></router-outlet>

